#homePage {
    background-image: url('../../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;

}

#updatePage {
    margin-top: 6rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
}

#title {
    font-family: 'delirium';
    font-size: 5rem;
    color: rgba(8, 77, 38, 0.95);
}

#titleMobileDIV {
    text-align: center !important;
}

#titleMobile {
    font-family: 'delirium';
    font-size: 4rem;
    color: rgba(8, 77, 38, 0.95);
}

#tablehead {
    font-family: 'highSchool';
}

table {
    box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255)
}

#logotipo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#logotipoequipeLabel {
    transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#logotipoequipeLabel:hover {
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#UpdateequipeTitle {
    font-family: 'delirium';
    color: rgb(8, 77, 38);
    padding-left: 0% !important;
    font-size: 5rem !important;
}

#addequipe {
    transition: all 0.1s linear;
    font-family: 'highSchool';
    border-color: rgba(8, 77, 38, 0.95);
    background-color: rgba(8, 77, 38, 0.95);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

#addequipe:hover {
    transition: all 0.1s linear;
    transform: scale(1.15);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

#listagem {
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
}

#UpdateEdit {
    border: none;
    background-color: transparent;
}

#UpdateEdit:hover {
    transition: all 0.1s linear;
    transform: scale(1.3);
}

#DeleteClear {
    border: none;
    background-color: transparent;
}

#DeleteClear:hover {
    transition: all 0.1s linear;
    transform: scale(1.3);
}

#edit {
    color: rgba(23, 74, 212, 0.95);
}

#clear {
    color: rgb(221, 51, 51);
}

#modal-header .display-4 {
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 50px;
}

#save {
    margin-top: 0.5rem;
}

#cancel {
    margin-top: 0.5rem;
    margin-left: 1rem;
    background-color: rgb(221, 51, 51);
    border: rgb(221, 51, 51);
}

/* Alterar em Desktop */
@media (min-width: 900px) {
    #Editar {
        display: none;
    }

    #Excluir {
        display: none;
    }

    #titleMobile {
        display: none;
    }

}

/* Alterar em Mobile */
@media (max-width: 900px) {

    #Empresa {
        display: none;
    }

    #Cnpj {
        display: none;
    }

    #CnpjText {
        display: none;
    }

    #Responsavel {
        display: none;
    }

    .display-4 {
        font-size: 50px;
    }

    #title {
        display: none
    }

    #logo {
        display: none
    }
}