@font-face {
    font-family: 'delirium';
    src: url(../assets/fonts/FTYDELIRIUMNCV.ttf);
}

@font-face {
    font-family: 'highSchool';
    src: url(../assets/fonts/HighSchoolUSASans.ttf);
}